body {
  text-align: center;
  background: #2a2a28 url(img/mrpenisp.gif);
color: #f9b64c;
}
h1,p {
text-shadow: 1px 1px #7d5b24;
font-size: 44px;
}
h2 {
color: #FFFFFF ; text-shadow: 1px 1px #696969; font-size: 30px;
}
h3 {
color: #FFFFFF ; text-shadow: 1px 1px #696969; font-size: 24px;
}
h4 {
color: #FFFFFF ; text-shadow: 1px 1px #696969;font-size: 16px;
}
p {
color: #FFFFFF ; text-shadow: 1px 1px #696969;
}
a {
color: #FFFFFF ; text-shadow: 1px 1px #696969;
}

table { background-color: black; }

hr {
color: #575753; height:3px" width="75%";
}
@font-face {
font-family: pixel;
src: url(fonts/vga8.ttf);
}
h1,h2,h3,h4,a,p,td,menu,marquee {
font-family: pixel, 'vga8', cursive;
}



